<!DOCTYPE html>
<html lang="en">

<head>
    <title>Application Form</title>
    <link rel="stylesheet" href="/taskthree/style/style.view.css">
</head>

<body>
    <h3>Submit Your Application</h3>
    <div id="form_body">
        <form>
            <label for="first_name">First Name</label> <br>
            <input id="first_name" type="text" placeholder="Your First Name">
            <br class="break">

            <label for="last_name">Last Name</label> <br>
            <input id="last_name" type="text" placeholder="Your Last Name">
            <br class="break">

            <label for="id">ID</label> <br>
            <input id="id" type="number" placeholder="Your ID">
            <br class="break">

            <label for="level_term">Level-Term</label> <br>
            <select name="level_term" id="level_term">
                <option>1-1</option>
                <option>1-2</option>
                <option>2-1</option>
                <option>2-2</option>
                <option>3-1</option>
                <option>3-2</option>
                <option>4-1</option>
                <option>4-2</option>
            </select>
            <br class="break">

            <label for="subjects">Subjects</label> <br>
            <select name="subjects" id="subjects">
                <option>CSE-411 VLSI Design</option>
                <option>CSE-412 VLSI Design Sessional</option>
                <option>CSE-413 Computer Graphics</option>
                <option>CSE-414 Computer Graphics Sessional</option>
                <option>HUM-415 Financial and Managerial Accounting</option>
                <option>CSE-455 Data Ware-housing and Data Mining</option>
                <option>CSE-417 Data Ware-housing and Data Mining Sessional</option>
            </select>
            <br class="break">

            <label for="comment">Comments</label> <br>
            <textarea id="comment" rows="3" placeholder="Write Your Comments"></textarea>
            <br class="break">

            <button id="button">Submit</button>
        </form>
    </div>
</body>

</html>