<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./taskone/view/style/style.home.css">
</head>

<body id="body">
    <ul>
        <li> <a href="./taskone/view/page/page.home.view.html">Home</a></li>
        <li><a href="./taskone/view/page/page.data.view.html">Data</a></li>
        <li><a href="./taskone/view/page/page.about.view.html">About</a></li>
    </ul>
    <h2 id='test' class="test">Welcome to HTML</h2>
    <img src="./taskone/view/images/download.png" alt="HTML-Logo" class="center">
    <p>
        The <i>HyperText Markup Language, or HTML</i> is the standard markup language for documents designed to be
        displayed in a web browser. It can be assisted by technologies such as <i>Cascading Style Sheets</i>
        and scripting languages such as <i>JavaScript </i>
        <a href="https://en.wikipedia.org/wiki/HTML">Wikipedia </a> <i>(https://en.wikipedia.org/wiki/HTML)</i>
    </p>
    <br> <br> <br> <br>
    <footer style="text-align: center;">
        <a href="/index.html">My all lab works</a>
    </footer>
</body>

</html>