<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/Task-01/view/style/style.data.css">
    <title>Data</title>
</head>

<body>
    <h4>Example HTML Escape Sequences</h4>
    <table border="1">
        <thead>
            <tr>
                <th colspan="2">Named</th>
                <th>Decimal</th>
                <th>Hexadecimal</th>
                <th>Result</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">&amp;amp;</td>
                <td>&amp;#38;</td>
                <td>&amp;#x26;</td>
                <td>&amp</td>
                <td>Ampersand</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&amp;amp;</td>
                <td>&amp;#60;</td>
                <td>&amp;#x3C;</td>
                <td>&lt;</td>
                <td>Less Than</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&amp;gt;</td>
                <td>&amp;#62;</td>
                <td>&amp;#x3e;</td>
                <td>&gt;</td>
                <td>Greater Than</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&amp;quot;</td>
                <td>&amp;#34;</td>
                <td>&amp;#x22;</td>
                <td>&quot;</td>
                <td>Double Quote</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">&amp;apos;</td>
                <td>&amp;#39;</td>
                <td>&amp;#x27;</td>
                <td>&apos;</td>
                <td>Single Quote</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="1">&amp;Dagger;</td>
                <td colspan="1">&amp;ddagger;</td>
                <td>&amp;#8225;</td>
                <td>&amp;#x2021;</td>
                <td>&ddagger;</td>
                <td>Double dagger</td>
                <td>Names are case sensitive</td>
            </tr>
        </tbody>
    </table>
</body>

</html>