<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Task-01/view/style/style.about.css">
    <title>Document</title>
</head>

<body>
    <div>
        <p>Data Types</p>
        <p>HTML defines several data types for element content, such as</p>
        <ul>
            <li>script data</li>
            <li>stylesheet data, and</li>
            <li>a plethora of types for attribute values, including</li>
        </ul>
        <ol>
            <li>IDs, names,</li>
            <li>URIs,</li>
            <li>numbers, units of length, languages,</li>
            <li>dates and times, and so on.</li>
        </ol>
        <br>
        <p>All of these data types are specializations of character data.</p>
    </div>
</body>

</html>