<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/tasktwo/view/style/style.home.css">
</head>

<body id="body">
    <button class="button buttonstyle" onclick="">Home</button>
    <button class="button buttonstyle" onclick="">Data</button>
    <button class="button buttonstyle" onclick="">About</button>
    <button class="button buttonstyle" style="margin-left: 1020px;">Login/Registration</button>

    <h2 id='test' class="test">Welcome to HTML</h2>

    <figure>
        <img src="/tasktwo/view/image/download.png" alt="HTML-Logo" class="center">
        <figcaption class="center" style="text-align: center;">Caption: HTML LOGO</figcaption>
    </figure>

    <p>
        The <i>HyperText Markup Language, or HTML</i> is the standard markup language for documents designed to be
        displayed in a web browser. It can be assisted by technologies such as <i>Cascading Style Sheets</i>
        and scripting languages such as <i>JavaScript </i>
        <a href="https://en.wikipedia.org/wiki/HTML">Wikipedia </a> <i>(https://en.wikipedia.org/wiki/HTML)</i>
    </p>
</body>

</html>