<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/taskone/view/style/style.form.css">
    <title>Form</title>
</head>

<body style="background-color: #85e4e8;">
    <h3 style="text-align: center;">Welcome to Registration.</h3>
    <p style="color: #1658f1; text-align: center;"><b>Already Registred?</b></p>

    <div style="margin: 0 auto;display: table;">
        <form action="">
            <label for="full_name" style="margin-right: 81px;">Full Name:</label>
            <input id="full_name" type="text"> <br>

            <label for="user_name" style="margin-right: 75px;">User Name:</label>
            <input id="user_name" type="text"> <br>

            <label for="password" style="margin-right: 88px;">Password:</label>
            <input id="password" type="password"> <br>

            <label for="confirm_password" style="margin-right: 15px;">Confirm Password:</label>
            <input id="confirm_password" type="password"> <br>

            <label for="gender" style="margin-right: 105px;">Gender:</label>
            <input type="radio" id="gender" name="gender" value="male">

            <label for="gender"> Male </label>
            <input type="radio" id="gender" name="gender" value="female">
            <label for="gender"> Female</label><br>

            <label for="email" style="margin-right: 45px;">Email Address:</label>
            <input id="email" type="email"> <br>

            <label for="contact" style="margin-right: 71px;">Contact No:</label>
            <input id="contact" type="text"> <br>

            <label for="city" style="margin-right: 127px;">City:</label>
            <select name="city" id="city">
                <option value="dhaka">Dhaka</option>
                <option value="chittagong">Chittagong</option>
                <option value="sylhet">Sylhet</option>
                <option value="others">Others</option>
            </select> <br>

            <button type="submit" id="submit_button" style="margin: 0 auto;display: table;">OK</button>
        </form>
    </div>

</body>

</html>